/*!
 * Finalium (https://github.com/carrevue/finalium)
 * Copyright 2021-2026 Carrevue Development
 */

@use 'imports/imports' with (
    $theme: "hitchhiker", 
    $color-scheme: "light",
    $era: "2015",
);