@use 'config' as *;

@use "variables";

.badge {
    display: inline-block;
    border: 1px solid #ddd;
    color: variables.$emphasis-text-color;
    padding: 0 4px;

    font-size: 11px;

    //height: 13px;
    height: 15px;
    line-height: 13px;

    text-transform: uppercase;
}