@use 'config' as *;
@use "variables";
@use 'functions';
@use 'mixins/theme' as theme;

.banner {
    @include theme.if-theme("hitchhiker", "polymer") {
        padding: 9.5px 1em;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 500;
    }

    @include theme.if-theme("default") {
        padding: 0.5em 1em;
        border-radius: 3px;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    &.full-screen {
        height: variables.$fullscreen-banner-height;

        z-index: 10000;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        border-radius: 0;
    }

    .banner-icon {
        margin-right: 13px;

        @include theme.if-theme("hitchhiker", "polymer") {
            height: 20px;
        }

        @include theme.if-theme("default") {
            height: 16px;
        }
    }
}

@each $state, $value in variables.$banner-colors {
    .banner-#{$state} {
        @include theme.if-theme("hitchhiker", "polymer") {
            // TODO: warning banner was light yellow
            background-color: $value;
        }

        @include theme.if-theme("default") {
            border: 1px solid darken($value, 3.5%);
            background-color: lighten($value, 1.5%);
            background-image: linear-gradient(
                to bottom,
                lighten($value, 1.5%),
                darken($value, 1.5%)
            );
        }

        color: functions.contrast-color($value);
    }
}