@use 'config' as *;

@use "variables";

.comments-header {
    color: variables.$header-text-color;
    text-transform: uppercase;
    margin-bottom: 17px;

    .title {
        font-weight: 500;
    }
}

#commentContents {
    width: 100%;
}

.thread {
    margin-bottom: 30px;
}

.comment {
    display: flex;
    gap: 10px;
    line-height: 17px;

    &:last-child {
        border-bottom: none;
    }

    .comment-avatar {
        height: 48px;

        .profile-picture {
            width: 48px;
            height: 48px;
        }
    }

    .comment-body {
        width: 100%;

        .form-control {
            width: 100%;
            overflow: hidden;
            resize: none;
            padding: 5px 10px;

            @if $theme == "hitchhiker" {
                &:focus {
                    border-color: variables.$primary;
                }
            }
        }

        .comment-form-buttons {
            margin-top: 10px;
            display: flex;
            gap: 9px;
            justify-content: flex-end;
        }

        .comment-header {
            display: flex;
            align-items: center;
            gap: 6px;

            .comment-author {
                font-weight: 500;

                a {
                    color: #128ee9;
                }

                &.owner {
                    .userlink {
                        background: #dbe4eb;
                    }
                }
            }

            .comment-timestamp {
                color: variables.$comment-timestamp;
                font-size: 11px;
                margin-left: 6px;
            }
        }

        .comment-contents {
            color: variables.$description-text-color;
            margin: 3px 0 8px;

            p {
                margin: 0;
            }
        }

        .comment-actions {
            color: variables.$header-text-color;

            a {
                color: variables.$header-text-color;
                text-decoration: none;
                opacity: 75%;

                &:hover {
                    opacity: 100%;
                }
            }
        }
    }
}

.replies {
    margin-left: 58px; // 48px (pfp) + 10px

    .replies {
        margin-left: 42px; // 32px (pfp) + 10px
    }

    .thread {
        margin: 12px 0;
    }

    .comment {
        padding: 0;
        
        .profile-picture {
            width: 32px;
            height: 32px;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

#new-comment {
    margin-bottom: 5px;
}

.reply-form {
    padding: 12px 0;

    // ugh. -chaziz 02/28/2026
    .comment .comment-avatar .profile-picture {
        width: 32px;
        height: 32px;

        &:last-child {
            padding-bottom: 0;
        }
    }
}