@use 'config' as *;
@use "variables";

.form-content {
    line-height: 1.2;
    
    .input {
        align-items: center;
        display: flex;
        gap: 6px;
        padding: 4px 0;

        label {
            color: variables.$header-text-color;
        }
    }
}

.form-long {
    width: 100%;
    padding: 4px;
}

textarea,
input:is(
    [type=text],
    [type=password],
    [type=email],
    [type=number],
    [type=search],
    [type=url],
    [type=tel],
    [type=date],
    [type=datetime-local],
    [type=time]
) {
    @if $theme == "hitchhiker" {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    @else {
        border: 1px solid variables.$form-input-border;
        background: variables.$form-input;
        border-radius: 4px;
        box-shadow: 0 0 1px variables.$form-input-border;
        transition: border linear 0.3s,
        box-shadow linear 0.3s;
    }

    &:focus {
        @if $theme != "hitchhiker" {
            border-color: variables.$primary;
            box-shadow: 0 0 5px variables.$primary;
        }

        outline: 0;   
    }
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    width: 16px;
    height: 16px;

    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 0;

    box-shadow: inset 0 0 1px rgba(0,0,0,.05);

    cursor: pointer;
    position: relative;

    &:hover {
        border-color: #b9b9b9;
    }

    &:focus {
        border-color: #4496e7;
        box-shadow: inset 0 0 1px rgba(0,0,0,.1);
    }

    &:checked {
        border-color: #36649c;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M4 8l3 3 5-6' stroke='%23555' stroke-width='2' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
    }
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background: #f8f8f8 linear-gradient(to bottom,#fcfcfc 0,#f8f8f8 100%);
    border: 1px solid #d3d3d3;
    border-radius: 0;

    padding: 0 26px 0 10px;
    height: 26px;

    font: inherit;
    color: #333;
    font-weight: 500;
    font-size: 11px;

    cursor: pointer;

    background-image:
        linear-gradient(45deg, transparent 50%, #666 50%),
        linear-gradient(-45deg, transparent 50%, #666 50%);
    background-size: 4px 4px;
    background-repeat: no-repeat;
    background-position:
        right 14px top 11px,
        right 10px top 11px;

    &:hover {
        border-color: #b9b9b9;
    }

    &:focus {
        outline: none;
        border-color: variables.$primary;
        box-shadow: 0 0 1px rgba(0,0,0,.1);
    }
}

#themePreview {
    min-width: 200px;
    max-width: 400px;
}

#skinName {
    font-size: 16px;
}

#skinAuthor {
    font-size: 11px;
    opacity: 0.5;

    margin-bottom: 1em;
}

#themeName {
    font-size: 15px;
}

#themeAuthor {
    font-size: 11px;
    opacity: 0.5;
}