@use 'config' as *;
@use "variables";
@use 'mixins/theme' as theme;

.img-fluid {
    width: 100%;
    height: auto;
}

.profile-picture {
    @include theme.if-theme-not("hitchhiker") {
        border-radius: 50%;
    }

    @include theme.if-theme("hitchhiker") {
        background: #f1f1f1;
    } 
}

.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}