@use 'config' as *;
@use "variables";
@use 'mixins/theme' as theme;

.tabcontent {
    display: none;
}

.tabs {
    display: flex;
    gap: 15px;
}

.tablink {
    color: variables.$light-text-color;

    @include theme.if-theme("polymer") {
        text-transform: uppercase;
        padding: 13px 32px;
    } 
    
    @include theme.if-theme-not("polymer") {
        padding: 0 3px;
        height: 32px; // on yt this was defined as 29px but this doesnt work here
        line-height: 29px;
    }

    // emulate the classic finalium implementation of tabs
    @include theme.if-theme("default") {
        transition: .3s;
        border-bottom: 3px solid rgba(variables.$card-bg, 0);
    }

    &:hover, &:focus {
        text-decoration: none;
        cursor: pointer;
    }

    &.active,
    &:hover {
        border-bottom: 3px solid variables.$accent;
        @include theme.if-theme("default") {
            color: variables.$description-text-color;
        }
    }

    &.active {
        color: variables.$description-text-color;
        font-weight: 500;
    }
}