@use 'config' as *;
@use "variables";

$thumbnail-object-fit: contain;
$thumbnail-background: #F0F0F0;

@if $theme == "hitchhiker" {
    $thumbnail-object-fit: cover;
    $thumbnail-background: #F1F1F1;
}

.shelf-channels-browse {
    display: grid;
    grid-auto-columns: minmax(196px, 196px);
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
    gap: 20px 10px;

    padding: 15px 15px 0 15px;
}

/* used on homepage */
/* this should be split into spinner -chaziz 01/31/2026 */
.shelf {
    position: relative;
    padding: 15px 18px;
    border-bottom: 1px solid variables.$border;

    .shelf-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .shelf-icon {
            width: 20px;
            margin-right: 7px;
        }

        .shelf-title {
            font-size: 15px;
            color: variables.$description-text-color;
            font-weight: 500;

            a {
                color: variables.$description-text-color;
                text-decoration: none;

                &:hover {
                    color: variables.$primary;
                }
            }
        }

        .shelf-label {
            font-size: 12px;
            padding-left: 5px;
            color: variables.$lightest-gray;
        }
    }

    .shelf-description {
        color: variables.$comment-timestamp;
        margin-bottom: 12px;
        font-size: 12px;
    }

    .shelf-slider-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        color: variables.$lightest-gray;
        background: variables.$card-bg;
        width: 15px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &[data-direction="left"] {
            left: 3px;
        }

        &[data-direction="right"] {
            right: 3px;
        }
    }

    &:hover {
        .shelf-slider-nav {
            width: 40px;
            border: 1px solid variables.$card-border;
            box-shadow: 1px 1px 3px rgba(0,0,0,.1);
            color: variables.$description-text-color;

            &[data-direction="left"] {
                left: -22px;
            }

            &[data-direction="right"] {
                right: -22px;
            }
        }
    }

    .shelf-slider {
        display: grid;
        gap: 10px;
        grid-auto-flow: column;
        grid-auto-columns: minmax(196px, 196px);
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
}

// TODO: make this small by default, these were only used in recommendations
.upload-list-item {
    gap: 10px;
    display: flex;
    margin-bottom: 15px;

    .thumbnail {
        display: flex;
        position: relative;
        height: fit-content;

        width: 196px;

        //@if $theme == "hitchhiker" {
        height: 110px;
        //}

        img {
            width: 196px;

            //@if $theme == "hitchhiker" {
            height: 110px;
            object-fit: $thumbnail-object-fit;
            background: $thumbnail-background;
            //}
        }
    }

    // originally known as .vid-info
    .content-wrapper {
        .title {
            max-height: 2.4em;
            line-height: 1.2;
            display: block;
            overflow: hidden;
            margin-bottom: 2px;

            font-size: 13px;
            font-weight: 500;

            color: variables.$description-text-color;
        }

        // only used by small upload box
        .stat {
            display: block;
            font-size: 11px;
            color: variables.$comment-timestamp;

            line-height: 1.4em;
            height: 1.4em;
        }


        // these are only used on big upload boxes
        .byline, .meta {
            display: block;
            font-size: 12px;
            color: variables.$comment-timestamp;

            a {
                color: variables.$comment-timestamp;
            }
        }

        .description {
            display: block;
            margin-top: 2px;
            font-size: 12px;
            line-height: 1.3em;
            max-height: 2.6em;
            color: variables.$comment-timestamp;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }

    &:hover {
        .content-wrapper {
            .byline a, .meta a {
                color: variables.$primary;
            }
        }
    }

    &:not(.small) {
        .title,
        .byline,
        .description {
            max-width: 499px;
        }
    }

    &.small {
        gap: 8px;

        .thumbnail, img {
            //margin-left: 5px;
            width: 120px;
            //@if $theme == "hitchhiker" {
            height: 68px;
            //}
        }

        &:hover {
            text-decoration: none;
            
            .content-wrapper {
                .title {
                    color: variables.$primary;
                }
            }
        }
    }
}

.thumbnail-badge-container {
    display: flex;
    position: absolute;
    bottom: 2px;
    right: 2px;
    gap: 2px;
    font-weight: 500;
    font-size: 11px;

    .thumbnail-badge {
        background: black;
        opacity: 0.75;
        height: 14px;
        line-height: 14px;
        color: white;
        padding: 0 4px;
    }
}

.lockup {
    display: flex;

    &.grid {
        gap: 4px;
        flex-direction: column;   
    }

    &.tile {
        gap: 10px;
        flex-direction: row;

        .title, .byline, .meta, .description {
            max-width: 499px;
        }
    }
    
    .thumbnail {
        display: flex;
        position: relative;
        height: fit-content;

        // this needs to remain hardcoded otherwise its fucked. -chaziz 11/12/2025 
        width: 196px;
        height: 110px;

        img {
            width: 196px;
            height: 110px;
            object-fit: $thumbnail-object-fit;
            background: $thumbnail-background;
        }
    }

    // originally known as .vid-info
    .content-wrapper {
        .title {
            max-height: 2.6em;
            line-height: 1.3;
            display: block;
            overflow: hidden;
            margin-bottom: 2px;

            font-size: 13px;
            font-weight: 500;
        }

        .stats {
            display: flex;
            //gap: 5px;

            .stat {
                &:not(:first-child)::before {
                    content: '\002022';
                    margin: 0 5px;
                }
            }
        }

        .stat {
            color: variables.$comment-timestamp;
            font-size: 11px;
            display: block;
            line-height: 1.3em;
            height: 1.3em;

            a {
                color: variables.$comment-timestamp;
                &:hover {
                    color: variables.$primary;
                }
            }
        }

        .description {
            display: block;
            margin-top: 2px;
            font-size: 12px;
            line-height: 1.3em;
            max-height: 2.6em;
            color: variables.$comment-timestamp;

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .badges {
            margin-top: 5px; // 2px with exp-responsive
        }
    }
}